.home{
    display: flex;
}

.productContainer{
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap:wrap ;
    justify-content: space-around;
}

.filters{
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin:10px;
    height: 86vh;
}

.filters > span{
    padding-bottom:20px;
}

.title{
    font-size: 30px;
}